.footer-layout {
  /* height: 50px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  position: fixed; */

  /* background: #cccccc; */

  /* padding: 0.5rem; */

  /* Extra Styles: */
  /* background: #f24b66; */
}
